h1 {
	text-align: center;
}

.marker {
	width: 200px;
	height: 25px;
	margin: 10px auto;
}

.one {
	background-color: rgb(255, 0, 0);
}

.two {
	background-color: rgb(0, 127, 0);
}

.three {
	background-color: rgb(0, 0, 255);
}

.four {
	background-color: rgb(255, 255, 0);
}

.five {
	background-color: rgb(0, 255, 255);
}

.six {
	background-color: rgb(255, 0, 255);
}

.seven {
	background-color: rgb(0, 0, 0);
}

.eight {
	background-color: rgb(0, 0, 0);
}

.nine {
	background-color: rgb(0, 0, 0);
}
.container {
	background-color: rgb(255, 255, 255);
	padding: 10px 0;
}
