h1 {
	text-align: center;
}

.marker {
	width: 200px;
	height: 25px;
	margin: 10px auto;
}

.red {
	background-color: rgb(255, 0, 0);
}

.green {
	background-color: rgb(0, 127, 0);
}

.blue {
	background-color: rgb(0, 0, 255);
}

.yellow {
	background-color: rgb(255, 255, 0);
}

.cyan {
	background-color: rgb(0, 255, 255);
}

.magenta {
	background-color: rgb(255, 0, 255);
}

.orange {
	background-color: rgb(255, 127, 0);
}

.spring-green {
	background-color: rgb(0, 255, 127);
}

.violet {
	background-color: rgb(127, 0, 255);
}

.chartreuse-green {
	background-color: rgb(127, 255, 0);
}

.azure {
	background-color: rgb(0, 127, 255);
}

.rose {
	background-color: rgb(255, 0, 127);
}

.container {
	background-color: rgb(255, 255, 255);
	padding: 10px 0;
}
